{% extends 'base.html' %}
{% load static %}
{% block container %}
  <div class="box-12 flex flex-wrap justify-center item-centro">
    <div class="box-6">
      <h1 class="fonte64 espaco-letra poppins-black txt-c fnc-branco captalize bg-laranja-claro">cuide de você</h1>
      <h3 class=" fnc-preto-azulado poppins-medium fw-300 txt-c">Faça seu agendamento agora!</h3>

     
    </div>

    <div class="box-6">
      <img src="{% static 'assets/img/consultas.png' %}" alt="" />
    </div>
  </div>
{% endblock %}
